<h1>
  <center>Add a New Allergen</center>
</h1>
<br>


<%= render 'shared/errors', obj: @allergen %>
<!-- would provide the @allergen object to the partial, available under the local variable obj -->
<%= render 'form'%>
