<h2><center>Check Product</center></h2>
<small><center>
  <i><u>Enter ingredients seperated by a ", " (comma space) or a newline (return)</u></i>
</center></small>
<br>

<%= render 'shared/errors', obj: @product %>
<!-- would provide the @product object to the partial, available under the local variable obj -->
<%= render 'form' %>